<div class="container" ng-controller="prescriptionCtrl">
<div class="row">
  <div class="col-lg-4 col-sm-8">
      <div class="well well-sm ">


      <div class="card hovercard">

        <legend>   <img src ="images/walgreens-logo.png" height=32 width=32 align="left"/>  Walgreens Pharmacy

        </legend>
        <div class="desc">Euclid Ave</div>
        <div class="desc">Store Number 450</div>
      </br>
         <div class=" col-sm-6">
           <div class="info">
          <div class="title" >DEA # 12434532</div>

       </div>
       </div>
          <div class="info">
                <div class="title" align="center">
                   <a target="_blank" style="background-color: #ffff42">Rx # 123456</a>
                  <div class="desc" align="center" >Dr M. Mouse</div>
                </div>
             </div>
            <img src ="images/barcode.png" align="right"/>

              <div class="info">

                <h3> &nbsp; Arun </h3>
                <p>
                  &nbsp; &nbsp;   <b>Id:</b> 12345
                   <br />
                  &nbsp; &nbsp;   <b>Age: </b> 36
                    <br />
                  &nbsp; &nbsp;   <b>DoB:</b> 10/04/1980</p>
                <p align="center"> <b>    Take one Capsule by mouth 2 times daily for 10 days </b>
                </p>
              </div>

              <div class="info">
                <div class="title" align="center">
                   <a target="_blank">Amoxicillin 500 MG CAPSULES</a>
                  <div class="desc">
                    <b> QTY </b>  20  &nbsp; &nbsp; &nbsp; &nbsp; <b> MFR </b> pFizer </div>

                </div>
              </div>

              <div class="info">

                    <div class="desc" align="right" >USE BEFORE <b> 06/10/2018 </b> </div>

                </div>
              </div>


      </div>

  </div>
</div></div>
